[Unit]
Description=Check system networking every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=5s
Unit=network-connectivity-watchdog.service

[Install]
WantedBy=timers.target
